.padd-img {
    padding-right:0;
    text-align: center;
    margin: 10px;
    float: left;
}

.col-md-1 {
    width: 8.33333333%;
}

.col-md-8 {
    width: 66.66666667%;
}

.row {
    margin-right: -50px;
    margin-left: -15px;
}

.search-result-item {
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 15px;
}

.search-card{
    max-width: 540px;
    marigin:5px
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.detail-blocks {
    border: 1px #DFE1E5 solid;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 16px 0;
}
.RyCxoe {
    color: #3c4043;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.75px;
    margin-bottom: 16px;
    padding-left: 16px;
    text-transform: uppercase;
}